.filter {
    padding: 0;
    margin: 0 .25rem 0 .25rem;
    width: 98%;
    border-radius: 4pt;
}

#light .filter {
    background-color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

#dark .filter {
    background-color: rgba(94, 94, 94, 0.425);
    transition-property: background-color;
    transition-duration: .5s;
}

.filter .filter-text {
    text-align: center;
    padding: 0;
    width: 100%;
}

.filter .filter-text p {
    padding: 0;
    margin: 0;
}

.filter .containter {
    display: flex;
    justify-content: center;
    width: 100%;
}

.filter .card {
    margin: .2rem .2rem .2rem .2rem;
    padding: .7rem;
    display: flex;
    width: 15.5%;
    flex-direction: column;
    align-items: center;
    border-radius: 5pt;
}

#light .filter .card {
    background-color: #504dffb3;
    transition-property: background-color;
    transition-duration: .5s;
}

#dark .filter .card {
    background-color: #504dff76;
    transition-property: background-color;
    transition-duration: .5s;
}

#light .filter .active {
    background-color: #504dff;
    border: .5pt solid black;
    transition-property: background-color;
    transition-duration: .5s;
}

#dark .filter .active {
    background-color: #504dffed;
    border: .5pt solid white;
    transition-property: background-color;
    transition-duration: .5s;
}

.filter .card:hover {
    cursor: pointer;
}

#light .filter .card:hover {
    background-color: #504dffed;
    transition-property: background-color;
    transition-duration: .5s;
}

#dark .filter .card:hover {
    background-color: #504dffed;
    transition-property: background-color;
    transition-duration: .5s;
}

.filter .card:focus {
    background-color: #504dff;
    transition-property: background-color;
    transition-duration: .5s;
    cursor: pointer;
}

.filter .card img {
    height: 2.5rem;
    margin: 0;
    padding: 0;

}

.filter .card p {
    margin: 0;

}

@media (max-width: 480px) {
    .filter {
        font-size: 2vw;
    }

    .filter .card {
        padding: 0;
        height: 7vw;
        width: 7vw;
    }

    .filter .card img {
        margin-top: .5vw;
        height: 4vw;
    }
}

@media (max-width: 768px) {
    .filter {
        font-size: 1.5vw;
    }

    .filter .card {
        padding: 0 0 .5vw 0;
        height: 6vw;
        width: 6vw;
    }

    .filter .card img {
        margin-top: .5vw;
        height: 4vw;
    }
}

@media (max-width: 1024px) {
    .filter {
        font-size: 1.5vw;
    }

    .filter .card {
        padding: 0 0 .5vw 0;
        height: 6vw;
        width: 6vw;
    }

    .filter .card img {
        margin-top: .5vw;
        height: 4vw;
    }
}
.toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    margin: .5rem;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #504dffb3;
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: #3c3b7c;
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    position: absolute;
    top: 7px;
    left: 20px;
    width: 100%;
    height: 100%;
    color: #4d4d4d;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    opacity: 1;
    bottom: 12.8px;
    right: 37px;
    font-size: .8rem;
    color: rgb(34, 34, 34);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: relative;
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    opacity: 0;
  }

  .toggle input:checked~.labels::before {
    opacity: 1;
  }
